// bower:scss
// endbower
@font-face {
  font-family: Biko;
    src: url("/fonts/Biko_Regular.otf");
}
@font-face {
  font-family: BikoBold;
    src: url("/fonts/Biko_Bold.otf");
}

* {
  box-sizing: border-box;
}
html, body {
  position: relative;
  display:block;
  min-height:100%;
  padding:0;
  margin:0;
  text-align:center;
}
body.active header nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  background: rgba(255,255,255, .8);
  right: 0;
  padding: 1em;
}


body.active #main-view {
  padding-top: 3em;
}

header {
  background-color: rgba(255,255,255, 1);
  display:block;
  padding: 1em;

  nav {
    &>ul {
      padding: 1em;
      border-top: solid 1px #ccc;
      display: inline;
    }
  }
  li {
     list-style-type: none;
  }
  .nav-item {
    display: inline;
    font-family: Biko;
    a {
      text-decoration: none;
      color: #000;
      padding: 1em;
      margin: 0 1em;

      &:hover {
        font-family: BikoBold;
      }
    }
  }
  .nav-dropdown {
    position: relative;
  }
  .nav-dropdown:hover .subnav {
    display: block;
    max-height: 500px;
  }
  .subnav {
    transition:max-height .5s ease;
    overflow: hidden;
    max-height: 0px;
    position:absolute;
    top: 100%;
    margin-top: 1em;
    right:0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9999999;
    color: #fff;
    text-align: left;
    line-height: .8;
    padding:0 1.5em 0 .5em;

    li {
      padding:.5em 0;
      a {
        color:white;
        padding: 0;
        margin:0;
      }
    }
  }
}
.logo {
  background-image: url('/images/logo.png');
  width:200px;
  height:70px;
  text-indent: -999999px;
  background-repeat: no-repeat;
  background-size: contain;
  margin:0 auto;
}

h1 {
  margin: 0;
  text-transform: uppercase;
}
body {
  font-family: "Puritan";
  color: #333;
  font-size: 15px;
}

#mailsignupform {
  position:absolute;
  top:0;
  left:0;
  right:0;
  background-color:rgba(0, 0, 0, .7);
  color:white;
  z-index:99999;
  line-height: 1.5;
  padding: 1em;
  p {
    margin:0;
    font-size: 21px;
  }
  a {color:#FFF;}
  input {
    border: none;
    background-color: #fff;
  }
}
.inline-feature-details {
  max-height: 0px;
  background-color:rgba(0,0,0, .5);
  position:relative;
  transition: max-height 1s ease-out;
  transition: margin-top .2s;
  overflow: hidden;
  color: #fff;
  text-align: left;
  padding:1em;
  h3 {
    margin:.2em;
  }
  p {
    margin: 0;
  }
  span {
    float: right;
    top: 1em;
    position: absolute;
    right: 1em;
  }
}

.big-inline-feature-details {
  max-width: 900px;
  text-align: left;
}
.featured-container {
  overflow: hidden;
}

.featured-container:hover .inline-feature-details  {
  max-height: 72px;
  margin-top:-71px;
}

.main-feature-overlay {
  color: white;
  font-size: 3em;
  position:absolute;
  top: 50%;
  right: 1em;
  margin-top: -2.4em;
  text-align: right;
  h2 {
    max-width: 70%;
    font-style: italic;
    margin:0;
    padding:0;
    font-family: Dido;
    font-weight: 300;
    text-shadow: 0px 0px 8px rgba(0,0,0, .7)
  }
  p {
    font-size: .333em;
    max-width: 70%;
  }

  button {
    background: rgba(0,0,0, .2);
    border: solid 2px rgba(255,255,255, .8);
    color:#fff;
    padding:1em 1.5em;
    margin-right: 20%;
    font-size: 16px;
    &:hover {
      background: rgba(0,0,0, 1);
      border-color: rgba(255,255,255, 1);

    }
  }
}
.featured-slide-host {
  position: relative;

}
/*
.featured-slide-host {
  position: relative;
  padding-bottom: 20%;
  height: 0;
}
.featured-slide-fluid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.hero {
  width: 100%;
  height: 300px;
  display:block;
  background-color:black;
}
*/
.featured-item {
  height: 853px;
  position: relative;
  margin-top: -175px;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-card {
  background-color: #fff;
  margin: 1em;
  padding: 1em;
  overflow:hidden;
}
.item-card-right {
  margin-left: 165px;
  float: left;

}
.item-slide {
  background: #909090;
  width:150px;
}
.artist-action-call {
  border: solid 1px #000;

}


/*
controlls
*/
/* controls */
.rn-carousel-control {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  opacity: 0.85;
  cursor: pointer;
  color: #fff;
  font-size: 6em;
  line-height: 1em;
  border-radius: 1em;
  padding:0 .3em;
}
.rn-carousel-control:hover
{
  opacity: 1;
  background:rgba(0,0,0, .2);
}
.rn-carousel-control.rn-carousel-control-prev {
  left: .5em;
}
  .rn-carousel-control.rn-carousel-control-prev:before {
    content: "<";
  }

.rn-carousel-control.rn-carousel-control-next {
  right: .5em;
}
  .rn-carousel-control.rn-carousel-control-next:before {
    content: ">";
}

footer {
  clear:both;
  display: block;
  color:#fff;
  width:100%;
  padding:3em;
  margin-top:1em;
  background-color:rgba(0,0,0, 1);

  a {
    color: inherit;
    text-decoration: none;
    float:left;
    padding: 0 1em;
  }
  span {
    float: right;
  }
}


#carousel-1-indicator {
  background: transparent;
  bottom: 2em;

  span {
    color: #ccc;
  }
}
#carousel-1-indicator .active {
  color:#fff;
}

.featured-body {
  float:right;
  position: relative;
  right: 50%;
}
.feature-description {
  clear:both;
}

.row {
  width: 100%;
  clear:both;
  &:before {
    display: block;
    height: 0px;
    content: '';
    clear:both;
  }
    &:after {
    display: block;
    height: 0px;
    content: '';
    clear:both;
  }
}
.featured-container-row {
  margin: .5em 0;
  position: relative;
  right: -50%;
  float: right;
}
.product-list-item .featured-container {
  height: 300px
}
.product-list-item {
  .row {
    padding-bottom: 5em;
  }
  .featured-container{
  }
  .listing-details {
    position:absolute;

    h3 {
      margin:0;
      text-align: left;
      font-family: Biko;
      text-transform: uppercase;
    }
    span.desc {
      text-align: left;
      float:left;
      margin-right: 1em;
    }
    .price {
      float:right;
    }
  }
}

.featured-container {
  float:left;
  height: 260px;
  padding:.5em;
}
article {
  display:block;
  overflow:hidden;
}













//listing
.cat-nav {
  padding-left:0;
  li {
    list-style-type: none;
    display: inline;
    line-height: 1.5em;
    margin-top:-.5em;
    a {
      padding: 0 1em;
      text-decoration: none;
    }
  }
}

