
  <div class="featured-slide-host">
    <div class="featured-slide-fluid">
    <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control rn-carousel-pause-on-hover="true" rn-carousel-auto-slide="2" class="my-slider ng-cloak">
      <li class="featured-item" ng-repeat="image in featuredImages" ng-style="{backgroundImage:'url('+image.url+')'}">
          <div class="main-feature-overlay">
            <h2>Springs City's Calling</h2>
            <button>Get This Look</button>
          </div>
      </li>
    </ul>
  </div>
</div>

  <article>
    <h2>Featured Looks / Designer Choices</h2>
    <div class="featured-body">
      <div class="row featured-container-row">
        <div class="featured-container">
          <img src="images/img1.png" />
          <div class="inline-feature-details">
            <h3>header</h3>
            <p>this is are not.</p>
            <span>$250</span>
          </div>
        </div>
        <div class="featured-container">
          <img src="images/img2.png" />
        </div>
      </div>
      <div class="row featured-container-row">
        <div class="featured-container">
          <img src="images/img3.png" />
        </div>
        <div class="featured-container">
          <img src="images/img4.png" />
        </div>
      </div>
    </div>

  </article>

