<article class="product-list-item">
  <img src="/images/img18.png" />
  <!--
  <div style="text-align:left;display:inline;"><span>Shop > <a href="#product">Dresses</a></span></div>
  -->
  <div class="featured-body">
    <div class="row featured-container-row">
      <div class="featured-container">
        <a href="https://avantika.herokuapp.com/products/"><img src="/images/img10.png" /></a>

        <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

      <div class="featured-container">
        <a href="https://avantika.herokuapp.com/products/"><img src="/images/img11.png" />
</a>

       <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

      <div class="featured-container">
       <a href="https://avantika.herokuapp.com/products/"> <img src="/images/img12.png" />
</a>
        <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

      <div class="featured-container">
        <a href="https://avantika.herokuapp.com/products/">
          <img src="/images/img13.png" />
</a>
        <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

    </div>

    <div class="row featured-container-row">
      <div class="featured-container">
    <a href="https://avantika.herokuapp.com/products/">    <img src="/images/img14.png" />
</a>
        <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

      <div class="featured-container">
    <a href="https://avantika.herokuapp.com/products/">    <img src="/images/img15.png" />
</a>
        <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

      <div class="featured-container">
   <a href="https://avantika.herokuapp.com/products/">
        <img src="/images/img16.png" />
</a>
        <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

      <div class="featured-container">
  <a href="https://avantika.herokuapp.com/products/">
        <img src="/images/img17.png" />
</a>
        <div class="listing-details">
          <h3>Miuniku</h3>
          <span class="desc">Jacket Top</span>
          <span class="price">$200</span>
        </div>
      </div>

    </div>
</div>

</article>
